# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
Thumbs.db