<div  class = "about-container">
    <div class = "creator-card">
        <img src= "assets/images/aidan.jpg" alt = "Aidan" class = "creator-image">
        <p class = "description"> 
            This is Aidan!
        </p>
    </div>
    <div class = "creator-card">
        <img src= "assets/images/aidan.jpg" alt = "Aidan" class = "creator-image">
        <p class = "description"> 
            This is Royce!
        </p>
    </div>
    <div class = "creator-card">
        <img src= "assets/images/aidan.jpg" alt = "Aidan" class = "creator-image">
        <p class = "description"> 
            This is Felix!
        </p>
    </div>
    <div class = "creator-card">
        <img src= "assets/images/aidan.jpg" alt = "Aidan" class = "creator-image">
        <p class = "description"> 
            This is Landon!
        </p>
    </div>
    <div class = "creator-card">
        <img src= "assets/images/aidan.jpg" alt = "Aidan" class = "creator-image">
        <p class = "description"> 
            This is Nick!
        </p>
    </div>
</div>


