body{
    margin: 0;
    padding: 20px;
    background-color: transparent;
}
.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}
.creator-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.creator-image {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.description {
  font-size: 18px;
  color: #444;
  margin: 0;
  max-width: 300px;
}



