<div class="about-page">
    <div class="intro-section">
        <div class="intro-text">
            <h1>What is LaCulture?</h1>
            <p>LaCulture is a website to help people from around the nation or even locals to learn the culture of Louisiana! Exploring our site should provide you with the resources to be able to learn so much more about culture!</p>
        </div>
    </div>

    <div class="creators-section">
        <h2>Meet Our Team</h2>
        <div class="about-container">
            <div class="creator-card">
                <img src="assets/images/aidan.jpg" alt="Aidan" class="creator-image">
                <p class="description">This is Aidan!</p>
                <p class="description">He's our Scrum Master!</p>
            </div>
            <div class="creator-card">
                <img src="assets/images/royce.jpg" alt="Royce" class="creator-image">
                <p class="description">This is Royce!</p>
                <p class="description">He's our Design Lead!</p>
            </div>
            <div class="creator-card">
                <img src="assets/images/felix.jpg" alt="Felix" class="creator-image">
                <p class="description">This is Felix!</p>
                <p class="description">He's our Development Lead!</p>
            </div>
            <div class="creator-card">
                <img src="assets/images/landon.png" alt="Landon" class="creator-image">
                <p class="description">This is Landon!</p>
                <p class="description">He's our Project Manager!</p>
            </div>
            <div class="creator-card">
                <img src="assets/images/nick.jpg" alt="Nick" class="creator-image">
                <p class="description">This is Nick!</p>
                <p class="description">He's our Quality Assurance Engineer!</p>
            </div>
        </div>
    </div>

    <div class="closing-section">
        <div class="closing-text">
            <h2>Our Goals</h2>
            <p>We want to be able to provide an all-in-one website for users to: plan trips, make classic Louisiana cuisines, find the best rated restaurants, and better understand Louisiana's vast history! Having to do constant searches through the internet can be a pain and can draw people away from learning. This website hopes to eliminate all those endless searches and actually give users the power to explore for themselves! Our site gives users the ability to organize their learning and make the experience much better!</p>
        </div>
    </div>
</div>