.map-top-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  background: rgba(128, 0, 128, 0.95);
  z-index: 0;
  pointer-events: none;
}


#map {
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}





.custom-map-control {
  background: #ffd700;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 160px;
}

.map-select {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
}


.map-reset {
  padding: 8px;
  background: rgba(128, 0, 128, 0.95);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.map-reset:hover {
  background: #6C3BB2;
}

.heat-container {
  padding: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.heat-toggle-label {
  user-select: none;
  font-size: 14px;
}

.heat-toggle {
  accent-color: rgba(128, 0, 128, 0.95);
  transform: scale(1.2);
}


.leaflet-top.leaflet-right .leaflet-control {
  margin-top: 10px;
}