.map-container {
  padding: 1px;
  min-height: 100vh;
  background: linear-gradient(135deg, #0d2e7c 0%, #ccdd12 100%);
}

#map {
  height: calc(100vh - 64px);
  width: 100%;
  z-index: 1;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}
