<header class="menu-header" [ngClass]="{ 'scrolled': menuHeaderClass === 'scrolled' }">
  <nav>
    <span *ngFor="let option of menuOptions"
          [class.selected]="selectedOption === option"
          (click)="selectOption(option)"
          class="menu-link">
      {{ option }}
    </span>
  </nav>
</header>

<c-carousel>
  <c-carousel-inner>
    @for (slide of slides; track slide.src) {
      <c-carousel-item>
        <img
          [src]="slide.src"
          class="d-block w-100"
          loading="lazy"
        />
      </c-carousel-item>
    }
  </c-carousel-inner>
  <c-carousel-indicators />
  <c-carousel-control caption="Previous" direction="prev" />
  <c-carousel-control caption="Next" direction="next" />
</c-carousel>

<!-- TODO: add quicklinks -->
<div class="quicklinks-section">
    <mat-card class="quicklink-card">
    <img mat-card-image src="assets/images/canes.jpg" alt="First Canes">
    <mat-card-title>Canes</mat-card-title>
    <mat-card-content>
      The original Canes!
    </mat-card-content>
    <button mat-raised-button color="accent" routerLink="/canes">Go to Canes Info</button>
  </mat-card>
</div>
