/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'frenchDemo';
  src: url('assets/fonts/frenchDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
html {
   background: linear-gradient(135deg, #0d2e7c 0%, #ccdd12 100%);
}